/* style.css */

/* General styles for body in dark mode */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #27374D;
    color: #DDE6ED;
}

/* Styles for the horizontal navigation bar (Scroll menu) in dark mode */
.navbar {
    background-color: #27374D;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

/* Styles for navigation links in dark mode */
.navbar a {
    color: #DDE6ED;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #DDE6ED;
    color: #526D82;
}

/* Styles for the header in dark mode */
#home {
    height: 40vh;
    text-align: center;
    padding: 90px;
    background-color: #526D82;
    color: #DDE6ED;
    margin: 0;
}

/* Styles for h1 in the header in dark mode */
header h1 {
    margin: 0;
    font-size: 3rem;
    padding-top: 12%;
}

/* Styles for the about section in dark mode */
#about {
    background-color: #9DB2BF;
    color: #27374D;
    padding: 40px;
    text-align: justify;
}

.about-container {
    display: flex;
    align-items: flex-start;
}

.profile-picture {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

.about-content {
    flex: 1;
}

/* Styles for the projects section in dark mode */
#projects {
    padding: 40px;
    background-color: #27374D;
    color: #DDE6ED;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projects-container article {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.projects-container article:hover {
    transform: scale(1.05);
}

/* Styles for project images in dark mode */
.projects-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Styles for links inside the project container in dark mode */
.projects-container a {
    color: #DDE6ED;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.projects-container a:hover {
    text-decoration: underline;
}

/* Styles for the contact section in dark mode */
#contact {
    padding: 40px 20px;
    background-color: #27374D;
    color: #DDE6ED;
}

/* Styles for social media links in dark mode */
#contact ul {
    list-style: none;
    padding: 0;
    display: flex;

}

#contact ul li {
    margin: 0 10px;
}

#contact ul li a {
    color: #DDE6ED;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#contact ul li a:hover {
    background-color: #DDE6ED;
    color: #526D82;
    text-align: center;
}
